.pokemon-card {
    width: 100%;
    background-color: #c73131;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
.pokemon-image {
    width: 100%;
  }
  
.pokemon-info {
    margin-top: 10px;
  }
  
.pokemon-name {
    margin-top: 0;
    font-size: 18px;
  }
  
.pokemon-details {
    text-align: left;
    margin-top: 8px;
  }
  
.pokemon-details p {
    font-size: 32px;
    margin: 4px 0;
  }
.pokemon-name{
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}