@import '../utils/variables.scss';
.custom-bg-color {
    background: $yellowPokemon;
    border: 20px solid transparent;
    border-radius: 20px;
  }
.design-text-p{

    &>p{
        font-family: fantasy;
        font-size: 25px;
    }

    &>b{
        font-size: 30px;
        text-transform: uppercase;
        font-family: fantasy;
    }
}

.normal {
    border-color: #f2f1f0;
  }
.fire {
    border-color: #f2f1f0;
    background-color: #F08030;
  }
.water {
    border-color: #f2f1f0;
    background-color: #6890F0;
  }
.electric {
    border-color: #f2f1f0;
    background-color: #F8D030;
  }
.grass {
    border-color: #f2f1f0;
    background-color: #78C850;
  }
.ice {
    border-color: #f2f1f0;
    background-color: #98D8D8;
  }
.fighting {
    border-color: #f2f1f0;
    background-color: #C03028;
  }
.poison {
    border-color: #f2f1f0;
    background-color:  #A040A0;
  }
.ground {
    border-color: #f2f1f0;
    background-color:  #E0C068;
  }
.flying {
    border-color: #f2f1f0;  
    background-color:  #A890F0;
  }
.psychic {
    border-color: #f2f1f0;
    background-color:  #F85888;
  }
.bug {
    border-color: #f2f1f0;
    background-color:  #A8B820;
  }
.rock {
    border-color: #f2f1f0;
    background-color:  #B8A038;
  }
.ghost {
    border-color: #f2f1f0;
    background-color:  #705898;
  }
.dragon {
    border-color: #f2f1f0;
    background-color:  #7038F8;
  }
.dark {
    border-color: #f2f1f0;
    background-color:  #705848;
  }
.steel {
    border-color: #f2f1f0;
    background-color:  #B8B8D0;
  }
.fairy {
    border-color: #f2f1f0;
    background-color:  #EE99AC;
  }
.unknown {
    border-color: #f2f1f0;
    background-color:  #808080;
  }