@import '../utils/variables.scss';

.header{
    display: block;
    background-color: $rojoPokemon;

    &>div{
        text-align: center;
        height: 250px;
        &>img{
            width: 500px;
        }
    }
}