@import '../utils/variables.scss';

.header {
    background-color: $rojoPokemon;
    text-align: center;
    position: relative;
    
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      
      img {
        width: 300px;
        height: auto;
      }
    }
}