.nav{
    background-color: rgb(246, 250, 246);
    
    &>ul{
        list-style: none;
        display: flex;
        justify-content: space-around;
        height: 5rem;

        &>li{
            font-size: 30px;
            
            font-family: fantasy;
            padding: 20px;

            &>a{
                text-decoration: none;
                color: black;
                
            }
        }
    }
}