@import '../utils/variables.scss';

.form-search {
    background-color: rgba(231,247,52,1);
    padding: 20px 0;
    width: 80%;
    text-align: center;
    box-sizing: border-box; 
    margin-bottom: 40px;
    margin-top: 30px;
  
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      
      @media (max-width: 768px) {
        flex-direction: column;
      }
    }
  
    input {
      width: 50%;
      max-width: 400px;
      padding: 10px;
      margin-right: 10px;
      border: 2px solid $bluePokemon;
      border-radius: 5px;
      font-size: 16px;
      outline: none;
      box-sizing: border-box;
  
      &::placeholder {
        color: $bluePokemon;
      }
  
      @media (max-width: 768px) {
        width: 80%;
        margin-right: 0;
        margin-bottom: 10px;
      }
    }
  
    button {
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      background-color:$bluePokemon;
      color: $white;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s;
      box-sizing: border-box;
  
      &:hover {
        background-color: $bluePokemon;
      }
  
      @media (max-width: 768px) {
        width: 80%;
      }
    }
  }