$rojoPokemon: rgb(227, 34, 34);
$yellowPokemon:#FFCB05;
$bluePokemon:#2A75BB;
$white:rgb(245, 243, 243);
$black:rgb(0, 0, 0);
$verdePokemon:rgb(21, 255, 0);

$ipad-breakpoint: 768px;
$desktop-breakpoint:1200px;